In [1]:

import pandas as pd
import numpy as np
import pickle
from datetime import datetime
from pathlib import Path
import sys
sys.path.insert(0, "..")   
from src.utils import load_X_y_data, build_feature_and_label_cols
from src.model_utils import generate_loaders

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
today_str = datetime.today().strftime("%Y-%m-%d")
today_str

'2025-07-19'

In [4]:
# load

df = load_X_y_data(Path("../output/data/train_top_store_15_item_clusters_sales_cyclical_features_X_1_day_y.parquet"),
                   window_size=1,
                   log_level="DEBUG",
                   )
df.head()

2025-07-19 13:39:10,509 - INFO - Loading data from ../output/data/train_top_store_15_item_clusters_sales_cyclical_features_X_1_day_y.parquet
2025-07-19 13:39:10,693 - INFO - Loaded data with shape (1354, 25)

,start_date,store_item,store_cluster,item_cluster,weight,store_med_day_1,item_med_day_1,store_med_change_1,item_med_change_1,store_med_logpct_change_1,...,weekofmonth_cos_1,monthofyear_sin_1,monthofyear_cos_1,paycycle_sin_1,paycycle_cos_1,season_sin_1,season_cos_1,y_sales_day_1,y_store_med_logpct_change_1,y_item_med_logpct_change_1
0,2014-01-02,10_1143685,0,0,0.0,0.0,0.0,NaN,NaN,NaN,...,0.309017,0.5,0.866025,0.743145,0.669131,-0.970064,0.242850,41.0,NaN,NaN
1,2014-01-03,10_1143685,0,0,0.0,0.0,0.0,NaN,NaN,NaN,...,0.309017,0.5,0.866025,0.951057,0.309017,-0.965740,0.259512,11.0,NaN,NaN
2,2014-01-04,10_1143685,0,0,0.0,0.0,0.0,NaN,NaN,NaN,...,0.309017,0.5,0.866025,0.994522,-0.104529,-0.961130,0.276097,44.0,NaN,NaN
3,2014-01-05,10_1143685,0,0,0.0,0.0,0.0,NaN,NaN,NaN,...,0.309017,0.5,0.866025,0.866025,-0.500000,-0.956235,0.292600,96.0,NaN,NaN
4,2014-01-06,10_1143685,0,0,0.0,0.0,0.0,NaN,NaN,NaN,...,0.309017,0.5,0.866025,0.587785,-0.809017,-0.951056,0.309017,26.0,NaN,NaN

In [7]:
df.head()

,start_date,store_item,store_cluster,item_cluster,weight,store_med_day_1,item_med_day_1,store_med_change_1,item_med_change_1,store_med_logpct_change_1,...,weekofmonth_cos_1,monthofyear_sin_1,monthofyear_cos_1,paycycle_sin_1,paycycle_cos_1,season_sin_1,season_cos_1,y_sales_day_1,y_store_med_logpct_change_1,y_item_med_logpct_change_1
0,2014-01-02,10_1143685,0,0,1,0.0,0.0,NaN,NaN,NaN,...,0.309017,0.5,0.866025,0.743145,0.669131,-0.970064,0.242850,41.0,NaN,NaN
1,2014-01-03,10_1143685,0,0,1,0.0,0.0,NaN,NaN,NaN,...,0.309017,0.5,0.866025,0.951057,0.309017,-0.965740,0.259512,11.0,NaN,NaN
2,2014-01-04,10_1143685,0,0,1,0.0,0.0,NaN,NaN,NaN,...,0.309017,0.5,0.866025,0.994522,-0.104529,-0.961130,0.276097,44.0,NaN,NaN
3,2014-01-05,10_1143685,0,0,1,0.0,0.0,NaN,NaN,NaN,...,0.309017,0.5,0.866025,0.866025,-0.500000,-0.956235,0.292600,96.0,NaN,NaN
4,2014-01-06,10_1143685,0,0,1,0.0,0.0,NaN,NaN,NaN,...,0.309017,0.5,0.866025,0.587785,-0.809017,-0.951056,0.309017,26.0,NaN,NaN

In [8]:
df.dtypes

start_date                     datetime64[ns]
store_item                             object
store_cluster                          object
item_cluster                           object
weight                                  int64
store_med_day_1                       float32
item_med_day_1                        float32
store_med_change_1                    float64
item_med_change_1                     float64
store_med_logpct_change_1             float64
item_med_logpct_change_1              float64
sales_day_1                           float32
dayofweek_sin_1                       float32
dayofweek_cos_1                       float32
weekofmonth_sin_1                     float32
weekofmonth_cos_1                     float32
monthofyear_sin_1                     float32
monthofyear_cos_1                     float32
paycycle_sin_1                        float32
paycycle_cos_1                        float32
season_sin_1                          float32
season_cos_1                          float32
y_sales_day_1                         float32
y_store_med_logpct_change_1           float64
y_item_med_logpct_change_1            float64
dtype: object

In [11]:
df2 = df.query("store_cluster == '0' and item_cluster == '0'")

In [13]:
df2["store_med_change_1"].unique()

array([nan])

In [5]:
df["weight"] = df[df["weight"] == 0]["weight"] = 1

In [12]:
meta_cols, x_sales_features, x_cyclical_features, x_feature_cols, x_to_log_features, x_log_features, label_cols, y_log_features, y_to_log_features = build_feature_and_label_cols(window_size=1)
print(
        meta_cols,
        x_sales_features,
        x_cyclical_features,
        x_feature_cols,
        x_to_log_features,
        x_log_features,
        label_cols,
        y_log_features,
        y_to_log_features,
    )

['start_date', 'store_item', 'store_cluster', 'item_cluster', 'weight'] ['store_med_day_1', 'item_med_day_1', 'store_med_change_1', 'item_med_change_1', 'store_med_logpct_change_1', 'item_med_logpct_change_1', 'sales_day_1'] ['dayofweek_sin_1', 'dayofweek_cos_1', 'weekofmonth_sin_1', 'weekofmonth_cos_1', 'monthofyear_sin_1', 'monthofyear_cos_1', 'paycycle_sin_1', 'paycycle_cos_1', 'season_sin_1', 'season_cos_1'] ['store_med_day_1', 'item_med_day_1', 'store_med_change_1', 'item_med_change_1', 'store_med_logpct_change_1', 'item_med_logpct_change_1', 'sales_day_1', 'dayofweek_sin_1', 'dayofweek_cos_1', 'weekofmonth_sin_1', 'weekofmonth_cos_1', 'monthofyear_sin_1', 'monthofyear_cos_1', 'paycycle_sin_1', 'paycycle_cos_1', 'season_sin_1', 'season_cos_1'] ['store_med_day_1', 'item_med_day_1', 'store_med_change_1', 'item_med_change_1', 'sales_day_1'] ['store_med_logpct_change_1', 'item_med_logpct_change_1'] ['y_sales_day_1', 'y_store_med_logpct_change_1', 'y_item_med_logpct_change_1'] ['y_sales_day_1'] ['y_store_med_logpct_change_1', 'y_item_med_logpct_change_1']

In [13]:
y_to_log_features

['y_store_med_logpct_change_1', 'y_item_med_logpct_change_1']

In [14]:
df.loc[:,x_sales_features]

,store_med_day_1,item_med_day_1,store_med_change_1,item_med_change_1,store_med_logpct_change_1,item_med_logpct_change_1,sales_day_1
0,0.0,0.0,NaN,NaN,NaN,NaN,48.0
1,0.0,0.0,NaN,NaN,NaN,NaN,41.0
2,0.0,0.0,NaN,NaN,NaN,NaN,11.0
3,0.0,0.0,NaN,NaN,NaN,NaN,44.0
4,0.0,0.0,NaN,NaN,NaN,NaN,96.0
...,...,...,...,...,...,...,...
1349,0.0,0.0,NaN,NaN,NaN,NaN,224.0
1350,0.0,0.0,NaN,NaN,NaN,NaN,163.0
1351,0.0,0.0,NaN,NaN,NaN,NaN,318.0
1352,0.0,0.0,NaN,NaN,NaN,NaN,329.0
1353,0.0,0.0,NaN,NaN,NaN,NaN,198.0

In [15]:
x_cyclical_features

['dayofweek_sin_1',
 'dayofweek_cos_1',
 'weekofmonth_sin_1',
 'weekofmonth_cos_1',
 'monthofyear_sin_1',
 'monthofyear_cos_1',
 'paycycle_sin_1',
 'paycycle_cos_1',
 'season_sin_1',
 'season_cos_1']

In [16]:
x_log_features

['store_med_logpct_change_1', 'item_med_logpct_change_1']

In [23]:
df["weight"].unique()

array([1])

In [25]:
dataloader_dir = Path("../output/data/dataloader")
scalers_dir = Path("../output/data/scalers")
(train_loader, val_loader) = generate_loaders(
    df,
    meta_cols,
    x_feature_cols,
    x_log_features,
    x_to_log_features,
    x_cyclical_features,
    label_cols,
    y_log_features,
    y_to_log_features,
    scalers_dir,
    dataloader_dir,
    weight_col="weight",
    window_size=1,
    batch_size=32,
    num_workers=5,
    log_level="DEBUG",
)

2025-07-18 14:45:49,975 - INFO - Preparing global loaders from 1354 samples
2025-07-18 14:45:49,976 - INFO - Processing 1353 windows

Processing windows: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1353/1353 [00:05<00:00, 230.36window/s]
2025-07-18 14:45:56,306 - INFO - Input features shape: 17
2025-07-18 14:45:56,307 - INFO - Target (y) shape: 3
2025-07-18 14:45:56,307 - INFO - Weight shape: 1
2025-07-18 14:45:56,321 - INFO - Saved loaders: 43 train, 43 val samples

In [26]:
xb, yb, wb = next(iter(train_loader))
print(f"xb shape: {xb.shape}, yb shape: {yb.shape}, wb shape: {wb.shape}")

xb shape: torch.Size([32, 17]), yb shape: torch.Size([32, 3]), wb shape: torch.Size([32, 1])

In [27]:
xv, yv, wv = next(iter(val_loader))
print(f"x  shape: {xv.shape}, y shape: {yv.shape}, w shape: {wv.shape}")

x  shape: torch.Size([32, 17]), y shape: torch.Size([32, 3]), w shape: torch.Size([32, 1])